//#include "resource.h"
#define AppIcon 101

/////////////////////////////////////////////////////////////////////////////
// Neutral resources

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
AppIcon               ICON                    ".\\SASUP.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

1 VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x29L
#else
 FILEFLAGS 0x28L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "please report errors at www.sas1946.com - thank you very much!"
            VALUE "CompanyName", "SAS - Special Aircraft Service / UltraPack - IL2 FREE Mods for the IL2 On-Line Community"
            VALUE "FileDescription", "IL-2 Class Hasher by SAS / UltraPack"
            VALUE "FileVersion", "1.0.0.0 Build 12032101"
            VALUE "InternalName", "IL-2 Class Hasher by SAS / UltraPack"
            VALUE "LegalCopyright", "© SAS / UltraPack March 2012"
            VALUE "OriginalFilename", "ClassHasher.exe"
            VALUE "PrivateBuild", "Created by SAS~Storebror"
            VALUE "ProductName", "IL-2 Class Hasher by SAS / UltraPack"
            VALUE "ProductVersion", "1.0.0"
            VALUE "SpecialBuild", "Initial Release"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

/////////////////////////////////////////////////////////////////////////////
